{
  "overrides": [
    {
      "files": [
        "./src/index.js",
        "./src/index.cjs",
        "./src/tailwind-css-props.js"
      ],
      "options": {
        "singleQuote": true,
        "trailingComma": "none"
      }
    }
  ]
}
